<h2>Liste</h2>
<p>Bonjour {{message}}</p>
{{produits | json}}
{{produits[1].prix | number: '2.2-2'}}

<article *ngFor="let unProduit of produits">
    <p>Nom : {{unProduit.nom}}</p>
    <p>Fabricant : {{unProduit.fabricant}}</p>
    <p>Prix : {{unProduit.prix}} <span *ngIf="verifPasCher(unProduit.prix)">Pas cher!!!!!!</span></p> 
    <p>Prix : {{unProduit.prix}} <span *ngIf="unProduit.prix < 10">Pas cher!!!!!!</span></p> 
    <p *ngIf="unProduit.description">Description : {{unProduit.description}}</p>
</article>

<!--<ng-container *ngFor="let unProduit of produits">
    <article>
        <p>Nom : {{unProduit.nom}}</p>
        <p>Fabricant : {{unProduit.fabricant}}</p>
        <p>Prix : {{unProduit.prix}}</p>
        <p>Description : {{unProduit.description}}</p>
    </article>
</ng-container>-->