<title>Modifier une bière</title>
<a mat-mini-fab routerLink="/" color="primary" id='goBack'><mat-icon>arrow_back</mat-icon></a>
<h1>Modifier une bière</h1>
<ng-container *ngIf="formModif">
      <form [formGroup]="formModif" >
        <mat-form-field appearance="fill">
          <mat-label>Nom : </mat-label>
          <input matInput formControlName="nom" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Brasserie : </mat-label>
          <input matInput formControlName="brasserie" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description : </mat-label>
          <textarea matInput formControlName="description" id="" cols="30" rows="10"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Image (URL) : </mat-label>
          <input matInput formControlName="image" />
        </mat-form-field>
        <div class="action">
            <div class="action__group">
                <button mat-raised-button color="primary" (click)="soumettre()" [disabled]="!formModif.dirty || !formModif.valid">Soumettre</button>
                <button mat-button  (click)="annuler()" [disabled]="formModif.pristine">Annuler</button>
            </div>
            <div class="action__group">
                <button mat-mini-fab (click)="openConfirmationDialog(biere.id_biere)">
                  <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
      </form>
  </ng-container>